# Object file
*.o

mvemua
vsemua

# Ada Library Information
*.ali
/obj/*
!/obj/gnattest

# Debug logs
/logs

# Virtual Device Images
/TAPES
/DISKS

# Virtual files that shouldn't be shared (yet)
/FILESYSTEM/*.PR
/FILESYSTEM/*.ST
/FILESYSTEM/PER
/FILESYSTEM/UTIL

# Memory dump for debugging
mvemua.dmp
gmon.out

# Profiling
callgrind.*.*
